<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>主题花系列 | DIY版，月度、季度套餐，每周一束主题花材</title>
  <meta name="keywords" content="移动电商服务平台">
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <script type="text/javascript" src="__PRODUCT_JS__/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="__PRODUCT_CSS__/style.css" />
  <script type="text/javascript" src="lib/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
  <link rel="stylesheet" type="text/css" href="__JS__/style.css" />
  <style>
   .nav{width:100%;height:50px;border-bottom:1px solid #e5e5e5;}
   .nav-p1{line-height:50px;font-size:19px;}
   .container{margin-top:20px;width:100%;text-align: center;}
   .container-ul1{width:95%;margin:0px auto;}
   .container-ul1 li{width:100%;height:125px;background:#ffffff;margin-top:8px;border:1px solid #e5e5e5;list-style:none;}
   .container-img{width:115px;height:115px;margin-left:5px;margin-top:4px;float: left;}
   .container-img img{width:100%;height:100%;}
   .container-text{height:115px;margin-left:15px;margin-top:4px;float: left;text-align:left;}
   .p1{font-size:15px;color:#333;}
   .p2{margin-top:1px;font-size:15px;color:#333;}
   .p3{margin-top:20px;font-size:18px;font-weight:bold;color:#ff6600;}
   .bottom-nav{width:100%;height:50px;position: fixed;left:0px;bottom:0px;border-top:2px solid #e5e5e5;}
   .bottom-nav1{width:50px;height:100%;background:url('__PRODUCT_IMG__/3.png');background-size:30px 30px;background-repeat:no-repeat;background-position:center;float: left;}
   .bottom-nav2{float: left;height:100%;border-left:2px solid #e5e5e5;text-align: center;line-height: 50px;background: url('__PRODUCT_IMG__/4.png');background-repeat:no-repeat;background-position:8% 50%;background-size:15px 15px;position: relative;}
   .bottom-container1{width:162px;height:auto;background:#fafafa;font-size: 13px;line-height: 43px;position: absolute;border: 1px solid #ccc;z-index:2;top:-230px;left:-30px;border-radius:5px;text-align: center;display: none;}
   .bottom-container2{width:162px;height:auto;background:#fafafa;font-size: 13px;line-height: 43px;position: absolute;border: 1px solid #ccc;z-index:2;top:-230px;left:-30px;border-radius:5px;text-align: center;display:none;}
   .bottom-container3{width:112px;height:auto;background:#fafafa;font-size: 13px;line-height: 43px;position: absolute;border: 1px solid #ccc;z-index:2;top:-190px;left:-10px;border-radius:5px;text-align: center;display: none;}
  </style>
 </head>
 <body>
   <div class="blue">
   	  <div class="nav">
   	  	<p class="nav-p1">拥有一个月有故事的花束</p>
   	  </div>
   	  <div class="container">
   	  	 <ul class="container-ul1">
   	  	 	<li>
				<a href="{:Url('Index/details')}">
   	  	 		<div class="container-img">
   	  	 			<img src="__PRODUCT_IMG__/1.jpg"></img>

   	  	 		</div>
   	  	 		<div class="container-text">
   	  	 			<p class="p1">主题花系列|DIY版,月度,季</p>
   	  	 			<p class="p2">度套餐,每周一束主题花材</p>
   	  	 			<p class="p3">￥388.00</p>
   	  	 		</div>
				</a>
   	  	 	</li>
   	  	 	<li>
				<a href="{:Url('Index/details')}">
   	  	 		<div class="container-img">
   	  	 			<img src="__PRODUCT_IMG__/2.jpg"></img>
   	  	 		</div>
   	  	 		<div class="container-text">
   	  	 			<p class="p1">主题花系列|礼品版,月度,季</p>
   	  	 			<p class="p2">度套餐,每周一束主题花材</p>
   	  	 			<p class="p3">￥468.00</p>
   	  	 		</div>
				</a>
   	  	 	</li>
   	  	 </ul>
   	  </div>
   </div>
   <div class="bottom-nav">
   	 <div class="bottom-nav1">

     </div>
     <div class="bottom-nav2" >
         <p id="bottom-nav1">这里买花</p>
         <div class="bottom-container1">
           <ul class="bottom-container-ul">
             <li><a href="">母亲节主题花限量</a></li>
             <li><a href="">单品花材99包月|限时拼团</a></li>
             <li><a href="">混合升级199包月|限时拼团</a></li>
             <li><a href="">混合花材139包月|赠花瓶</a></li>
             <li><a href="">主题花系列|有故事的花</a></li>
           </ul>
         </div>
     </div>
     <div class="bottom-nav2">
         <p id="bottom-nav2">精品推荐</p>
         <div class="bottom-container2">
           <ul class="bottom-container-ul">
             <li><a href="">WOW瑰上新 | 肯尼亚的问候 </a></li>
             <li><a href="">主题花上新|晒太阳</a></li>
             <li><a href="">送礼必备|有态度</a></li>
             <li><a href="">你不知道的鲜花养护知识</a></li>
             <li><a href="">花小时的福利后院</a></li>
           </ul>
         </div>
     </div>
     <div class="bottom-nav2" style="background-position:23% 50%;">
         <p id="bottom-nav3">看看</p>
         <div class="bottom-container3">
            <ul class="bottom-container-ul">
             <li><a href="">购物车</a></li>
             <li><a href="">过往的花</a></li>
             <li><a href="">关于我们</a></li>
             <li><a href="">完美收花教程</a></li>
           </ul>
         </div>
     </div>
   </div>
 </body>
</html>
<script>
	$(function(){
    // $('.container-ul1').click(function(){
    
    // })


    var w=($(window).width()-56)/3+'px';
    $(".bottom-nav2").css("width",w);
    
    var off1=true;
    var off2=true;
    var off3=true;
    $("#bottom-nav1").click(function(){
       if(off1){
         $(".bottom-container1").show();
         off1=false;
       }else{
          $(".bottom-container1").hide();
          off1=true;
       };
    });

    $("#bottom-nav2").click(function(){
       if(off2){
         $(".bottom-container2").show();
         off2=false;
       }else{
          $(".bottom-container2").hide();
          off2=true;
       };
    });

    $("#bottom-nav3").click(function(){
       if(off3){
         $(".bottom-container3").show();
         off3=false;
       }else{
          $(".bottom-container3").hide();
          off3=true;
       };
    });

		
	});
</script>
