<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>新增地址</title>
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <script type="text/javascript" src="__STATIC__/user/lib/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="__STATIC__/user/css/style.css" />
  <style>
  .save{width:100%;height:35px;line-height:30px;font-size:16px;margin-top:10px;}
  .save-p1{float: left;margin-left:15px;}
  .save-p2{float:right;margin-right:15px;color:#1cec0c;}
  .container{width:100%;background:#ffffff;margin-top:15px;}
  .container li{width:100%;border-bottom:1px solid #e5e5e5;font-size:16px;text-align: left;height:55px;}
  .put{border:none;height:53px;font-size:14px;outline:none;line-height:53px;float: left;background:#ffffff;}
  .textarea{height:100px;line-height:30px;    line-height: 50px;}
  .message{margin-left:10px;width:113px;float: left;height:100%;line-height:55px;}
  .put2{font-size:16px;color:#ff1300;}
  </style>
 </head>
 <body>
  <div class="blue">
  	<div class="save">
  		<p class="save-p1" onclick="_data(this,'cancel')">取消</p>
  		<p class="save-p2" onclick="_data(this,'save')">保存</p>
  	</div>

    <form action="{:url('index/address')}" id="post_data" method="post">
  	<ul class="container">
  		<li>
  		    <p class="message">联系人&nbsp:</p>

        <?php  if($user_info['phone_call_people']):?>
             <input type="text" placeholder="{$user_info['phone_call_people']}" class="put name" onfocus="this.placeholder=''" onblur="this.placeholder='{$user_info[\'phone_call_people\']}' " name="phone_call_people" value="{$user_info['phone_call_people']}"></input>
        <?php else:?>
            <input type="text" placeholder="名字" class="put name" onfocus="this.placeholder=''" onblur="this.placeholder='名字' " name="phone_call_people"></input>
        <?php endif;?>
  		
  		</li>
  		<li>
  		    <p class="message">发货人手机号码&nbsp:</p>
    
        <?php  if($user_info['phone']):?> 
  			   <input type="text" placeholder="{$user_info['phone']}" class="put num" onfocus="this.placeholder=''" onblur="this.placeholder='{$user_info[\'phone\']}' "  id="put2" name="phone" maxlength="11" value="{$user_info['phone']}"></input>
         <?php else:?>
            <input type="text" placeholder="送达后我们会联系他" class="put num" onfocus="this.placeholder=''" onblur="this.placeholder='送达后我们会联系他' "  id="put2" name="phone" maxlength="11"></input>
        <?php endif;?>
  		</li>
      <li>
          <p class="message">收货人手机号码&nbsp:</p>

         <?php  if($user_info['receive_phone_call']):?> 
            <input type="text" placeholder="{$user_info['receive_phone_call']}" class="put num" onfocus="this.placeholder=''" onblur="this.placeholder='{$user_info[\'receive_phone_call\']}' "  id="put1" name="receive_phone_call" maxlength="11" value="{$user_info['receive_phone_call']}"></input>
         <?php else:?>
           <input type="text" placeholder="送货途中如有问题方便联系您" class="put num" onfocus="this.placeholder=''" onblur="this.placeholder='送货途中如有问题方便联系您' "  id="put1" name="receive_phone_call" maxlength="11"></input>
        <?php endif;?>
       

      </li>
  		<li>
  		    <p class="message">选择地区:</p>
          

         <?php  if($user_info['area']):?> 
            <input type="text" placeholder="{$user_info['area']}" class="put area" onfocus="this.placeholder=''" onblur="this.placeholder='{$user_info[\'area\']}' " name="area" value="{$user_info['area']}"></input>
         <?php else:?>
           <input type="text" placeholder="地区信息" class="put area" onfocus="this.placeholder=''" onblur="this.placeholder='地区信息' " name="area"></input>
        <?php endif;?>
     
  		</li>
  		<li style="height:110px;">
  		    <p class="message">纤细地址:</p>
        
         <?php  if($user_info['detail_address']):?> 
           <textarea type="text" placeholder="{$user_info['detail_address']}" class="put textarea" onfocus="this.placeholder=''" onblur="this.placeholder='{$user_info[\'detail_address\']}' " name="detail_address" value="{$user_info['detail_address']}">{$user_info['detail_address']}</textarea>
         <?php else:?>
          <textarea type="text" placeholder="街道门牌信息" class="put textarea" onfocus="this.placeholder=''" onblur="this.placeholder='街道门牌信息' " name="detail_address"></textarea>
        <?php endif;?>
  			

  		</li>
  		<li>
  		    <p class="message">邮政编码:</p>
        
         <?php  if($user_info['email_code']):?> 
            <input type="text" placeholder="{$user_info['email_code']}" class="put mail" onfocus="this.placeholder='{$user_info[\'email_code\']}'" onblur="this.placeholder='' " name="email_code" maxlength="6" value="{$user_info['email_code']}"></input>
         <?php else:?>
            <input type="text" placeholder="邮政编码" class="put mail" onfocus="this.placeholder=''" onblur="this.placeholder='邮政编码' " name="email_code" maxlength="6"></input>
        <?php endif;?>
  			

  		</li>
  	</ul>
    </form>


  </div>
 </body>
</html>
<script>
	$(function(){
        var width=$(window).width()-123+'px';
        $(".put").css("width",width);
  		  $(".save-p2").click(function(){
  			var name=$(".name").val();
  			var num=$(".num").val();
  			var area=$(".area").val();
  			var textarea=$(".textarea").val();
  			var mail=$(".mail").val();
        checkMobile(num);
		});

       function checkMobile(str) {
         var re = /^1\d{10}$/
         if (re.test(str)) {
             clearInterval(timer);
             code();
         } else {
         	 $("#put1").addClass('put2');
             $("#put1").val("请输入正确手机号码"); 
         };
     };

       $("#put1").focus(function(){
        	$("#put1").removeClass('put2');
        	$("#put1").val("");
        });

	});


  function _data(object,string) 
  {
    switch(string) {
        case 'cancel':
            //document.getElementById('post_data').reset();
           window.location.href = "{:url('index/index')}";
          break;
        case 'save':
            document.getElementById('post_data').submit();
          break;
    }
  }
</script>
