<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>全部订单</title>
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <script type="text/javascript" src="__STATIC__/user/lib/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="__STATIC__/user/css/style.css" />
  <style>
   .blue{margin:50px auto;}
   .btn{width:90px;height:30px;border-radius:5px;border:1px solid #fb8506;color:#fb8506;line-height: 30px;margin:15px auto;}
   .btn a{color:#fb8506;}
   .bottom-text{width:100%;font-size: 13px;height:50px;line-height: 50px;text-align: center;color:#939392;}
   
  </style>
 </head>
 <body>
  <div class="blue" style="">
    <p style="color:#6f6e6d;">购物车快饿瘪了T.T</p>
    <p style="color:#939390;font-size:14px;margin-top:5px;">快给我挑点宝贝</p>
    <div class="btn"><a href="{:url('product/Index/index')}">去逛逛</a></div>
  </div>
  
  <div class="container">
    
  </div>

  <div class="bottom-text" style="display:none;">
   <p>啊哦,没有更多订单啦~</p>
  </div>
 </body>
</html>
<script>
  $(function(){
    
  });
</script>
