<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>会员主页</title>
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <script type="text/javascript" src="__STATIC__/user/lib/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="__STATIC__/user/css/style.css" />
  <style>
   .bac{width:100%;height:190px;position: relative;}
   .bac img{width:100%;height:100%;}
   .bac-message{width:100%;height:60px;color:#ffffff;background:rgba(0,0,0,0.6);position: absolute;left:0px;bottom:0px;z-index: 1;text-align: left;font-weight:600;}
   .bac-message p{margin-top:9px;text-indent:10px;font-size:15px;}
   .order-process{width:100%;height:0px;background:#ffffff;border-bottom:1px solid #e5e5e5;}
   .order-list{width:100%;height:100%;font-size:15px;}
   .order-list li{width:20%;height:100%;float: left;}
   .order-list li img{width:26px;height:26px;margin-top:15px;}
   .all-order{width:100%;height:40px;background:#ffffff;text-align: left;border-bottom:1px solid #e5e5e5;}
   .all-order-text{margin-left:5px;line-height:40px;float: left;}
   .all-order-icon{float: left;width:20px;height:26px;margin-left:15px;background: url('__STATIC__/user/img/icon13.png');background-position:0px 0px;background-size:20px;height:26px;background-repeat: no-repeat;margin-top:9px;}
   .icon{float: left;width:20px;height:26px;margin-left:15px;margin-top:6px;}
   .icon img{width:100%;height:100%;}
   .all-order-icon2{width:12px;height:18px;float:right;margin-right:10px;margin-top:10px;}
   .myorder{float: left;width:20px;height:20px;margin-left:15px;margin-top:10px;}
   .myorder img{width:100%;height:100%;}
   .account{background-position:0% 103%;}
   .bottom-nav{width:100%;height:50px;position: fixed;left:0px;bottom:0px;border-top:2px solid #e5e5e5;}
   .bottom-nav1{width:50px;height:100%;background:url('__STATIC__/user/img/3.png');background-size:30px 30px;background-repeat:no-repeat;background-position:center;float: left;}
   .bottom-nav2{float: left;height:100%;border-left:2px solid #e5e5e5;text-align: center;line-height: 50px;background: url('__STATIC__/user/img/4.png');background-repeat:no-repeat;background-position:8% 50%;background-size:15px 15px;position: relative;}
   .bottom-container1{width:162px;height:auto;background:#fafafa;font-size: 13px;line-height: 43px;position: absolute;border: 1px solid #ccc;z-index:2;top:-230px;left:-30px;border-radius:5px;text-align: center;display: none;}
   .bottom-container2{width:162px;height:auto;background:#fafafa;font-size: 13px;line-height: 43px;position: absolute;border: 1px solid #ccc;z-index:2;top:-230px;left:-30px;border-radius:5px;text-align: center;display:none;}
   .bottom-container3{width:112px;height:auto;background:#fafafa;font-size: 13px;line-height: 43px;position: absolute;border: 1px solid #ccc;z-index:2;top:-190px;left:-10px;border-radius:5px;text-align: center;display: none;}
  </style>
 </head>
 <body>
  <div class="blue">
    <div class="bac">
      <img src="__STATIC__/user/img/bac.jpg"></img>
      <div class="bac-message">
       <p>尊敬的会员</p>
       <!-- <p>您拥有本店积分:<span>0</span></p> -->
      </div>
    </div>
    <div class="order-process">
     <!--  <ul class="order-list">
        <li class="order-list1">
          <a href="">
           <img src="img/icon8.png"></img>
           <p>待付款</p>
          </a>
        </li>
        <li class="order-list1">
          <a href="">
           <img src="img/icon9.png"></img>
           <p>待接单</p>
          </a>
        </li>
        <li class="order-list1">
          <a href="">
           <img src="img/icon10.png"></img>
           <p>待发货</p>
          </a>
        </li>
        <li class="order-list1">
          <a href="">
           <img src="img/icon11.png"></img>
           <p>已发货</p>
          </a>
        </li>
        <li class="order-list1">
          <a href="">
           <img src="img/icon12.png"></img>
           <p>已完成</p>
          </a>
        </li>
      </ul> -->
    </div>
     <div class="all-order">
      <a href="">
       <div class="icon"><img src="__STATIC__/user/img/icon8.png"></img></div>
       <p class="all-order-text">待付款</p>
       <img class="all-order-icon2" src="__STATIC__/user/img/icon1.png"></img>
      </a>
    </div>
    <div class="all-order">
      <a href="">
       <div class="all-order-icon"></div>
       <p class="all-order-text">全部订单</p>
       <img class="all-order-icon2" src="__STATIC__/user/img/icon1.png"></img>
      </a>
    </div>
    <div class="all-order">
      <a href="">
       <div class="myorder"><img src="__STATIC__/user/img/icon14.jpg"></img></div>
       <p class="all-order-text">我的购物车</p>
       <img class="all-order-icon2" src="__STATIC__/user/img/icon1.png"></img>
      </a>
    </div>
     <div class="all-order">
      <a href="">
       <div class="all-order-icon account"></div>
       <p class="all-order-text">账号管理</p>
       <img class="all-order-icon2" src="__STATIC__/user/img/icon1.png"></img>
      </a>
     </div>
     <div class="all-order">
      <a href="{:url('index/address')}">
       <div class="all-order-icon account"></div>
       <p class="all-order-text">修改收货地址</p>
       <img class="all-order-icon2" src="__STATIC__/user/img/icon1.png"></img>
      </a>
     </div>
  </div>
  <div class="bottom-nav">
   	 <div class="bottom-nav1">

     </div>
     <div class="bottom-nav2" >
         <p id="bottom-nav1">这里买花</p>
         <div class="bottom-container1">
           <ul class="bottom-container-ul">
             <li><a href="">母亲节主题花限量</a></li>
             <li><a href="">单品花材99包月|限时拼团</a></li>
             <li><a href="">混合升级199包月|限时拼团</a></li>
             <li><a href="">混合花材139包月|赠花瓶</a></li>
             <li><a href="">主题花系列|有故事的花</a></li>
           </ul>
         </div>
     </div>
     <div class="bottom-nav2">
         <p id="bottom-nav2">精品推荐</p>
         <div class="bottom-container2">
           <ul class="bottom-container-ul">
             <li><a href="">WOW瑰上新 | 肯尼亚问候 </a></li>
             <li><a href="">主题花上新|晒太阳</a></li>
             <li><a href="">送礼必备|有态度</a></li>
             <li><a href="">你不知道的鲜花养护知识</a></li>
             <li><a href="">花小时的福利后院</a></li>
           </ul>
         </div>
     </div>
     <div class="bottom-nav2" style="background-position:23% 50%;">
         <p id="bottom-nav3">看看</p>
         <div class="bottom-container3">
            <ul class="bottom-container-ul">
             <li><a href="">购物车</a></li>
             <li><a href="">过往的花</a></li>
             <li><a href="">关于我们</a></li>
             <li><a href="">完美收花教程</a></li>
            </ul>
         </div>
     </div>
   </div>
 </body>
</html>
<script>
 $(function(){

    var w=($(window).width()-56)/3+'px';
    $(".bottom-nav2").css("width",w);
    
    var off1=true;
    var off2=true;
    var off3=true;
    $("#bottom-nav1").click(function(){
       if(off1){
         $(".bottom-container1").show();
         off1=false;
       }else{
          $(".bottom-container1").hide();
          off1=true;
       };
    });

    $("#bottom-nav2").click(function(){
       if(off2){
         $(".bottom-container2").show();
         off2=false;
       }else{
          $(".bottom-container2").hide();
          off2=true;
       };
    });

    $("#bottom-nav3").click(function(){
       if(off3){
         $(".bottom-container3").show();
         off3=false;
       }else{
          $(".bottom-container3").hide();
          off3=true;
       };
    });

});
</script>