<<<<<<< HEAD
.mui-switch {
  width: 52px;
  height:26px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  display: inline-block;
  -webkit-appearance: none;
  outline: none; }
  .mui-switch:before {
  content: '';
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }
  .mui-switch:checked {
  background-color:#44DB5E; }
  .mui-switch:checked:before {
=======
.mui-switch {
  width: 52px;
  height:26px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  display: inline-block;
  -webkit-appearance: none;
  outline: none; }
  .mui-switch:before {
  content: '';
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }
  .mui-switch:checked {
  background-color:#44DB5E; }
  .mui-switch:checked:before {
>>>>>>> 695aa30cd17e26c64d8af4d106f1832815104fb2
  left: 23px; }